*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background-color: rgba(200,200,200, .1);
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

::selection {
    background-color: rgba(26, 188, 156, .3);
}



.card {
    min-width: 380px;
    max-width: 380px;
    border-radius: 0px;
    border: 0px;
}

.card-header {
    background-color: rgba(200,200,200, .1);
    font-weight: 550;
    font-kerning: none;
    font-size: 1.2rem;
    border-radius: 0px;
}

.card-body {
    background-color: rgba(200,200,200, .1);
}

.card-footer {
    background-color: rgba(200,200,200, .1);
}


.btn {
    border-radius: 0px;
}


.btn-outline-primary {
    color: #909090;
    background-image:none;
    border-color: #d0d0d0;
    background-color: #fdfdfd;
}

.btn-outline-primary:hover {
    color: rgba(26, 188, 156, .8);
    border-color: rgba(26, 188, 156, .8);
    background-color: #fdfdfd;
}


.form-control-sm {
    border-radius: 0px;
    background-color: #fdfdfd;
    border-color: #d0d0d0;
}

.form-control-sm:focus {
    border-color: rgba(26, 188, 156, .8);
    box-shadow: none !important;
    background-color: #fdfdfd;
}

.form-control::placeholder {
    color: #909090;
    padding: 0px 3px;
    font-size: 0.75rem;
}


.icon-inside {
      position: absolute;
      right: 12px;
      top: calc(50% - 13px);
      pointer-events: none;
      font-size: 16px;
      font-size: 1.125rem;
      color: #909090;
      z-index:3;
}

a {
    font-size: 0.9rem;
}

a, a:visited, a.nav-link, a.nav-link:visited {
    color: #909090;
    text-decoration: none;
}

a:hover, a:focus, a.nav-link:hover, a.nav-link:focus {
    color: rgba(26, 188, 156, 1);
}

a.nav-link:hover, a.nav-link:focus {
    border:1px solid rgba(26, 188, 156, .8);
    border-right: 1px solid transparent;
}


.error {
    color: rgba(220, 0, 5, .8)
}

.success {
    color: rgba(26, 188, 156, .8);
}

nav.head {
    min-width: 1250px;
    font-size: 0.9rem;
    border-bottom: 1px solid #909090;
}

.menu {
    min-width: 190px;
    max-width: 190px;
    border-right: 1px solid #909090;
    padding: 0px;
}

.nav-link {
    font-size: 0.73rem;
    text-align: end;
    border: 1px solid transparent;
    padding-top: -1px;
    vertical-align: middle;
}

.content {
    min-width: 1060px;
}

.ht {
    font-size: 0.6rem;
    text-align: end;
    vertical-align: middle;
    color: #909090;
    margin-bottom: -0.4rem;
}
