*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background-color: rgba(200,200,200, .1);
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

::selection {
    background-color: rgba(26, 188, 156, .3);
}

.root {
    color: rgba(26, 188, 156, .8);
}

.card {
    min-width: 380px;
    max-width: 380px;
    border-radius: 0px;
    border: 0px;
}

.card-header {
    background-color: rgba(200,200,200, .1);
    font-weight: 550;
    font-kerning: none;
    font-size: 1.2rem;
    border-radius: 0px;
}

.card-body {
    background-color: rgba(200,200,200, .1);
}

.card-footer {
    background-color: rgba(200,200,200, .1);
    font-size: 0.83rem;
}


.btn {
    border-radius: 0px;
}


.btn-outline-primary {
    color: #909090;
    background-image:none;
    border-color: #d0d0d0;
    background-color: #fdfdfd;
}

.btn-outline-primary:hover {
    color: rgba(26, 188, 156, .8);
    border-color: rgba(26, 188, 156, .8);
    background-color: #fdfdfd;
}


.form-control-sm, .form-select-sm, .form-select {
    border-radius: 0px;
    background-color: #fdfdfd;
    border-color: #d0d0d0;
    padding: 0.25rem, 0.5rem;
    font-size: 0.75rem;
}

.form-select {
    background-size: 0.55rem;
    background-position-x: right 0.6rem;
    background-position-y: center;
}

.form-control-sm:focus, .form-select-sm:focus, .form-select:focus, .form-control:hover, .form-select:hover {
    border-color: rgba(26, 188, 156, .8);
    box-shadow: none !important;
    background-color: #fdfdfd;
}

select:invalid:not(:focus) {
  color: #909090;
  font-size: 0.75rem;
}

select:invalid:focus {
  color: #909090;
  font-size: 0.75rem;
}

select:focus option {
  color: initial;
}

input[list='list__datalist_cartridges']::-webkit-calendar-picker-indicator,
input[list='list__datalist_postoffice']::-webkit-calendar-picker-indicator,
input[list='list__datalist_supply']::-webkit-calendar-picker-indicator,
input[list='list__datalist_ops']::-webkit-calendar-picker-indicator,
input[list='list__datalist_supply_ops']::-webkit-calendar-picker-indicator,
input[list='list__datalist_group']::-webkit-calendar-picker-indicator
{
    opacity: 0;
}


.form-control::placeholder {
    color: #909090;
    padding: 0px 3px;
    font-size: 0.75rem;
}

.form-select::placeholder {
    color: #909090;
    padding: 0px 3px;
}

.form-switch {
     font-size: 0.8rem;
     color: #909090;
}

.form-switch .form-check-input {
    border-color: #bababa;
    box-shadow: none !important;
    background-color: #fdfdfd;
    transition:  .25s ease-in-out;
}

.form-switch .form-check-input:focus {
    border-color: #bababa;
    background-color: #fdfdfd;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(186, 186, 186, 1)'/></svg>");
}

.form-switch .form-check-input:checked {
    border-color: rgba(26, 188, 156, .8);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(26, 188, 156, 0.8)'/></svg>");
}


.icon-inside {
      position: absolute;
      right: 12px;
      top: calc(50% - 11px);
      pointer-events: none;
      font-size: 0.95rem;
      color: #909090;
      z-index:3;
      margin: auto;
}


a, a:visited, a.nav-link, a.nav-link:visited {
    color: #909090;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 2px;
}

a:hover, a:focus, a.nav-link:hover, a.nav-link:focus {
    color: rgba(26, 188, 156, 1);
}

a.nav-link:hover, a.nav-link:focus {
    background-color: rgba(255, 255, 255, .8);
}

a.nav-link:hover, a.nav-link:focus {
    border:1px solid rgba(26, 188, 156, .8);
    border-right: 1px solid transparent;
    background-color: rgba(255, 255, 255, .8);
}


.error {
    color: rgba(220, 0, 5, .7);
    font-size: 0.9rem;
    text-align: center;
    vertical-align: middle;
}

.success {
    color: rgba(26, 188, 156, .8);
    font-size: 0.9rem;
    text-align: center;
    vertical-align: middle;
}

nav.head {
    min-width: 1250px;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(144, 144, 144, 0.5);
}

.foot {
    min-width: 1250px;
    font-size: 0.73rem;
    border-top: 1px solid rgba(144, 144, 144, 0.5);
    color: #909090;
}

.menu {
    min-width: 190px;
    max-width: 190px;
    border-right: 1px solid rgba(144, 144, 144, 0.5);
    padding: 0px;
}

.nav-link {
    font-size: 0.73rem;
    text-align: end;
    border: 1px solid transparent;
    padding-top: 3px;
    padding-bottom: 4px;
    vertical-align: middle;
}

.content {
    min-width: 1060px;
}

.ht {
    font-size: 0.6rem;
    text-align: end;
    vertical-align: middle;
    color: #909090;
    margin-bottom: -0.4rem;
}


hr {
    margin-right: 3px;
    margin-left: 3px;
}


.table {
    font-size: 0.8rem;
    border: 1px solid rgba(144, 144, 144, 0.5);
}

thead {
    background-color: #e2e2e2;
}

th, td {
    vertical-align: middle;
}

.tbr {
    border-right: 1px solid rgba(144, 144, 144, 0.5);
}



.td_but {
    min-width: 45px;
    width: 45px;
    text-align: center;
}

.td_amount, .td_number {
    min-width: 80px;
    width: 80px;
    text-align: center;
}

.td_nomenclature {
    min-width: 230px;
    width: 230px;
}

.td_postoffice, .td_fio, .td_date {
    min-width: 170px;
    width: 170px;
}

.td_act {
    color: #909090;
    min-width: 70px;
    width: 70px;
}

td_info {
    min-width: 270px;
    width: 270px;
}

.btn-xs {
    padding: 2px 2px;
    font-size: 0.8rem;
}

.badge {
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 0.7rem;
}

.bg-primary {
    background-color: rgba(26, 188, 156, 1) !important;
}

.active_page {
    padding-left: 6px;
    padding-right: 6px;
    color: rgba(26, 188, 156, .8);
    border: 1px solid rgba(26, 188, 156, .8);
    font-size: 1rem;
}


.disactive_page {
    padding-left: 6px;
    padding-right: 6px;
    color:  rgba(144, 144, 144, 0.9) !important;
}

.page:hover {
   color:  rgba(26, 188, 156, .8) !important;
}

::-webkit-datetime-edit { color: #909090; }
