*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    margin: 10px 20px;
}

.column {
    padding: 1em 0px !important;
}

.extra.content > a {
    padding-right: 20px;

}

a:hover, a:focus {
    color: #65BEDF !important;
}

.ui.custombut.button {
  color: #65BEDF !important;
  border:  1px solid #65bedf;
  background-color: #fdfdfd;
  border-radius: 0px;
}

.ui.input > input {
    background-color:  #fdfdfd !important;
    border-radius: 0px !important;
}

.ui.input > input:focus {
    border:  1px #65BEDF solid !important;
    border-radius: 0px !important;
}

.ui.message {
    border-radius: 0px;
}