{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">

        <!-- supply & parts -->
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card text-center">
                    <h4 class="card-header text-uppercase">{{ title }}</h4>

                    <div class="card-body d-flex justify-content-center">
                        <form action="{% url 'add_supply_ops' %}" method="post" class="col-11" novalidate id="form_addsupply">
                            {% csrf_token %}

                            <div class="mb-4">
                                {{ form_supply_ops.ops }}
                                <p class="ht">{{ form_supply_ops.ops.help_text }}</p>
                            </div>

                            <div class="mb-4">
                                {{ form_supply_ops.task_naumen }}
                            </div>

                            <button class="btn btn-outline-primary btn-sm col-12 shadow-none text-uppercase" name='but_supply' type="submit">
                                Создать
                            </button>
                        </form>
                    </div>

                    <div class="card-footer">

                    </div>
                </div>
            </div>

            <div class="col-1"></div>

            <div class="col-4 d-flex justify-content-center">
                <div class="card text-center">
                    <h4 class="card-header text-uppercase">Добавить позицию в поставку</h4>

                    <div class="card-body d-flex justify-content-center">
                        <form action="{% url 'add_supply_ops' %}" method="post" class="col-11" novalidate id="form_addpart">
                            {% csrf_token %}

                            <div class="mb-3">
                                {{ form_part_ops.supply_ops }}
                                <p class="ht">{{ form_part_ops.supply_ops.help_text }}</p>
                            </div>

                            <div class="mb-3">
                                {{ form_part_ops.nomenclature_cartridge }}
                                <p class="ht">{{ form_part_ops.nomenclature_cartridge.help_text }}</p>
                            </div>

                             <div class="mb-4">
                                {{ form_part_ops.amount }}
                                <p class="ht">{{ form_part_ops.amount.help_text }}</p>
                            </div>

                            <button class="btn btn-outline-primary btn-sm col-12 shadow-none" type="submit" name="but_part">
                                ДОБАВИТЬ
                            </button>
                        </form>
                    </div>

                    <div class="card-footer">

                    </div>

                </div>
            </div>
            <div class="col"></div>

        </div>

        <!-- success / errors -->
        <div class="row mt-1 mb-5">
            <div class="col"></div>

            <div class="col-4 d-flex justify-content-center text-center">
                    {% if messages %}
                        {% for message in messages %}
                                {% if message.tags == 'supply success' %}
                                    <div class="success mt-2 mb-2">
                                        <i class="fa fa-check"></i>&nbsp;
                                        {{ message|safe }}
                                    </div>
                                {% endif %}

                                {% if message.tags == 'supply error' %}
                                    <div class="error mt-2 mb-2">
                                        <i class="fa fa-exclamation"></i>&nbsp;
                                        {{ message|safe }}
                                    </div>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
            </div>

            <div class="col-1"></div>

            <div class="col-4 d-flex justify-content-center text-center">
                    {% if messages %}
                        {% for message in messages %}
                                {% if message.tags == 'part success' %}
                                    <div class="success mt-2 mb-2">
                                        <i class="fa fa-check"></i>&nbsp;
                                        {{ message|safe }}
                                    </div>
                                {% endif %}

                                {% if message.tags == 'part error' %}
                                    <div class="error mt-2 mb-2">
                                        <i class="fa fa-exclamation"></i>&nbsp;
                                        {{ message|safe }}
                                    </div>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
            </div>

            <div class="col"></div>
        </div>



        <!-- table -->
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col"></div>
            <div class='col-7'>
                {% if supplies_ops %}
                    {% for sup in supplies_ops%}
                        <table class='table table-sm table-hover table-bordered align-middle mb-5'>
                            <thead>
                                <tr>
                                    <th scope="row" colspan="2">{{ sup.0 }}</th>
                                    <td class="td_but">
                                        <form method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-outline-primary btn-xs col-12 shadow-none text-uppercase" type="submit" name="butsupdel_{{ sup.0.pk }}">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </thead>

                            <tbody>
                                {% for p in sup.1 %}
                                <tr>

                                    <td>{{ p.cartridge }}</td>
                                    <td class="td_amount">{{ p.amount }}</td>
                                    <td>
                                        <form method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-outline-primary btn-xs col-12 shadow-none text-uppercase" type="submit" name="butpartdel_{{ p.pk }}">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </form>
                                    </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot>
                            <tr>
                                <td colspan=""></td>
                                <td colspan="2">
                                    <form method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-primary btn-xs col-12 shadow-none text-uppercase" type="submit" name="butsend_{{ sup.0.pk }}">
                                            Отправить
                                        </button>
                                    </form>
                                </td>
                            </tr>

                            </tfoot>

                        </table>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col"></div>
        </div>


    </div>
{% endblock %}