{% extends "showorders.html" %}

{% block content_2 %}

    <div class="align-self-center">
        {% if autoparts %}
            <table class='table table-sm table-hover table-bordered align-middle text-center mb-5'>
                <thead>
                    <tr>
                        <th colspan="2">Заказ на поставку картриджей № {{ autoorder.pk }} [{{ autoorder.postoffice_autoorder.postoffice_name }}]</th>
                        <th class="td_func">
                            <form method="post">
                                {% csrf_token %}
                                    <div class="row d-flex justify-content-center mx-0 px-0">
                                        <button class="btn btn-outline-primary btn-xs col-12 shadow-none text-uppercase px-1" type="submit" name="tolist">
                                            К списку
                                        </button>
                                    </div>
                            </form>
                        </th>
                    </tr>

                    <tr>
                        <th class="td_nomenclature">Картридж</th>
                        <th>Принтер</th>
                        <th>Количество</th>
                    </tr>
                </thead>

                <tbody>
                    {% for autopart in autoparts %}
                        <tr>
                            <td>{{ autopart.cartridge.nomenclature }}</td>
                            <td>{{ autopart.cartridge.printer_model }}</td>
                            <td>{{ autopart.amount|add:autopart.add_amount }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

{% endblock %}